<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.mapper.OrderMapper">



    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
        insert into t_order (uid, recv_name, recv_phone, recv_province, recv_city, recv_area, recv_address, total_price,
                             status, order_time, pay_time, created_user, created_time, modified_user, modified_time)
        values (#{uid}, #{recvName}, #{recvPhone}, #{recvProvince}, #{recvCity}, #{recvArea}, #{recvAddress},
                #{totalPrice}, #{status}, #{orderTime}, #{payTime}, #{createdUser}, #{createdTime}, #{modifiedUser},
                #{modifiedTime});
    </insert>

    <insert id="insertOrderItem" useGeneratedKeys="true" keyProperty="id">
        insert into t_order_item (oid, pid, title, image, price, num, created_user, created_time, modified_user,
                                  modified_time)
        values (#{oid}, #{pid}, #{title}, #{image}, #{price}, #{num},
                #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime});
    </insert>

    <select id="selectOrderItem" resultType="com.lsj.domain.OrderItem">
        select *
        from t_order_item
        where created_user = #{username}
    </select>

    <select id="seleteStatus" resultType="com.lsj.domain.OrderItem">
        select *
        from t_order_item
        where id = #{id}
    </select>

    <delete id="deleteOrderItem">
        delete
        from t_order_item
        where id = #{id}
    </delete>

</mapper>





        <!--<resultMap id="AddressEntityMap" type="com.lsj.domain.Order">
                <id column="oid" property="oid"/>
                <result column="recv_name" property="recvName"/>
                <result column="recv_phone" property="recvPhone"/>
                <result column="recv_province" property="recvProvince"/>
                <result column="recv_city" property="recvCity"/>
                <result column="recv_area" property="recvArea"/>
                <result column="recv_address" property="recvAddress"/>
                <result column="total_price" property="totalPrice"/>
                <result column="order_time" property="orderTime"/>
                <result column="pay_time" property="payTime"/>
                <result column="created_user" property="createdUser"/>
                <result column="created_time" property="createdTime"/>
                <result column="modified_user" property="modifiedUser"/>
                <result column="modified_time" property="modifiedTime"/>
            </resultMap>-->