<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        insert into t_user (username, password, salt, phone, email, gender, avatar, is_delete, created_user,
                            created_time, modified_user, modified_time)
        values (#{username}, #{password}, #{salt}, #{phone}, #{email}, #{gender}, #{avatar}, #{isDelete},
                #{createdUser},
                #{createdTime}, #{modifiedUser}, #{modifiedTime});
    </insert>


    <select id="findByUserName" resultType="com.lsj.domain.User">
        select *
        from t_user
        where username = #{username};
    </select>

    <!--根据用户名ID查询用户数据-->
    <select id="findByUid" resultType="com.lsj.domain.User">
        select *
        from t_user
        where uid = #{uid};
    </select>

    <!--根据用户名修改密码-->
    <update id="updatePasswordByUid">
        update t_user
        set password      = #{password},
            modified_user = #{modifiedUser},
            modified_time = #{modifiedTime}
        where uid = #{uid}
    </update>


    <!--根据UID修改个人资料-->
    <update id="updateInfoByUid">
        update t_user
        set
        <if test="phone!=null">phone = #{phone},</if>
        <if test="email!=null">email = #{email},</if>
        <if test="gender!=null">gender = #{gender},</if>
        modified_user = #{modifiedUser},
        modified_time = #{modifiedTime}
        where uid = #{uid}
    </update>

    <!--根据用户的UID修改用户的头像-->
    <update id="updateAvatarByUid">
        update t_user
        set
            avatar = #{avatar},
            modified_user = #{modifiedUser},
            modified_time = #{modifiedTime}
        where
              uid=#{uid};
    </update>
</mapper>